.navigator * {
    user-select: none;
}

.navigator {
    border-radius: 1rem;
    cursor: pointer;
    transition: .3s;
}

.navigator:hover {
    background-color: var(--color-light);
}

@media screen and (max-width: 650px) {
    .navigator span {
        display: none;
    }

    .navigator {
        width: 2rem;
    }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}